/* SCROLLBAR PERSONNALISÉE */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: rgba(253, 182, 40, 0.4);
  border-radius: 999px;
  transition: background 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #FDB628;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(253, 182, 40, 0.4) #0a0a0a;
}